@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

:root {
    --cor-primaria: #2c3639;
    --cor-secundaria: #dcd7c9;
    --cor-terciaria: #a27b5c;
    --cor-hover: #3f4e4f;

    --font-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.apresentacao{
    padding: 5% 15%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-family: var(--font-primaria);
    font-size: 36px;
}

.apresentacao__conteudo__texto {
    font-family: var(--font-secundaria);
    font-size: 18px;
}

.apresentacao__links {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--font-primaria);
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__link {
    /* background-color: #22D4FD; */
    display: flex;
    border: 3px solid var(--cor-terciaria);
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
    font-weight: 600;
    font-size: 24px;
    padding: 24px 0;
    text-align: center;
    text-decoration: none;
    width: 68%;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.apresentacao__links__link:hover{
    background-color: var(--cor-hover);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu_link {
    color: var(--cor-terciaria);
    font-family: var(--font-secundaria);
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--font-secundaria);
    font-weight: 400;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}